@tailwind base;
@tailwind components;
@tailwind utilities;


      .slick-slide > div {
        margin: 0 10px;
        width: 281px;
        overflow: hidden;
      }
      .slick-list {
        margin: 0 -10px;
      }
    